﻿
@{
    ViewData["Title"] = "AdminAccess";
    Layout = "~/Pages/Admin.cshtml";
}


@model TrialProject.Models.ViewModel

<style type="text/css">
    body {
        background-color: lightgoldenrodyellow;
    }
</style>

<link href="~/css/StyleSheet.css" rel="stylesheet" />

<div class="main">
    <h2>Admin Access</h2>
    <h4>Your Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <font size="3"><b>Name</b></font>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmpFirstName)
            @Html.DisplayFor(model => model.EmpMidName)
            @Html.DisplayFor(model => model.EmpLastName)
        </dd>
        <dt>
            <font size="3"><b>Gender</b></font>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            <font size="3"><b>Salary</b></font>

        </dt>
        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt>
            <font size="3"><b>Experience</b></font>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt>
            <font size="3"><b>Date Of Birth</b></font>
        </dt>
        <dd>
            @Model.DOB.ToString(" dd MMMM yyyy")

            @*@Html.DisplayFor(model => model.DOB.Value.ToString("dd/mm/yyyy"))*@
        </dd>
        <dt>
            <font size="3"><b>Department</b></font>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeptName)
        </dd>
    </dl>
</div>