﻿
@{
    ViewData["Title"] = "Data";
    Layout = "~/Pages/EmployeeData.cshtml";
}

@model IEnumerable<TrialProject.Models.ViewModel>

@*<style type="text/css">
        body {
            background-color: lightgoldenrodyellow
        }
    </style>*@
<link href="~/css/StyleSheet.css" rel="stylesheet" />

<div class="main">
    <h2>Data</h2>

    <table id="Employees" class="main">
        <thead>
            <tr>
                <th>User ID</th>
                <th></th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Salary</th>
                <th>Experience</th>
                <th>Date of Birth</th>
                <th>Department</th>
                <th>Edit|Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        <img src="~/UserImages/@item.ImagePath" height="40px" width="40px" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmpFirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmpMidName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmpLastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Experience)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DOB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeptName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditEmp", new { id = item.UserId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//code.jquery.com/jquery-3.4.1.min.js"></script>

<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $("#Employees").DataTable(
            {
                "columnDefs": [
                    { "targets": [0], "visible": false, "searchable": false },
                    { "targets": [1,10], "searchable": false, "sortable": false },
                    { "targets": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], "autoWidth": true },
                ]
            }
        );
    });
</script>