﻿
@{
    ViewData["Title"] = "DeleteDept";
    Layout = "~/Pages/EditDept.cshtml";
}

<style type="text/css">
    body {
        background-color: lightgoldenrodyellow
    }
</style>

<link href="~/css/StyleSheet.css" />

@model TrialProject.Models.Department
<div class="main">
    <h2>DeleteDept</h2>

    <form class="form-horizontal" asp-action="DeleteDept" asp-controller="Admin" method="post" id="DeleteDept">
        @Html.HiddenFor(model => model.DeptId)

        <div class="dl-horizontal">
            Delete @Html.DisplayFor(model => model.DeptName)?
        </div>
        <div class="dl-horizontal">
            <button class="btn btn-primary" type="submit" id="btnDeleteDept" name="btnDeleteDept">Delete</button>
        </div>
    </form>
</div>
