﻿
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/EditEmpLayout.cshtml";
}

@model TrialProject.Models.ViewModel

<style type="text/css">
    body {
        background-color: lightgoldenrodyellow
    }
</style>

<link href="~/css/StyleSheet.css" />

<div class="main">
    <h2>Delete</h2>
    <form class="form-horizontal main" asp-action="Delete" asp-controller="Admin" method="post" id="Delete">
        @Html.HiddenFor(model => model.UserId)
        <div class="dl-horizontal">
            Delete @Html.DisplayFor(model => model.EmpFirstName) @Html.DisplayFor(model => model.EmpLastName)?
        </div>
        <div class="dl-horizontal">
            <button class="btn btn-primary" type="submit" id="btnDelete" name="btnDelete">Delete</button>
        </div>
    </form>
</div>
