﻿
@{
    ViewData["Title"] = "DeptData";
    Layout = "~/Pages/DeptData.cshtml";
}

<style type="text/css">
    body {
        background-color: lightgoldenrodyellow
    }
</style>

<link href="~/css/StyleSheet.css" />

@model IEnumerable<TrialProject.Models.Department>


<div class="main">
    <h2>Department Data</h2>

    <table id="Departments">
        <thead>
            <tr>
                <th>
                    Department ID
                </th>
                <th>
                    Department Name
                </th>
                <th>Edit|Delete</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeptId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeptName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditDept", new { id = item.DeptId }) |
                        @Html.ActionLink("Delete", "DeleteDept", new { id = item.DeptId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="//code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

<script>


    $(document).ready(function () {
        $("#Departments").DataTable(
            {
                "columnDefs": [
                    { "targets": [0], "visible": false, "searchable": false },
                    { "targets": [1, 2], "align-center": true },
                    { "targets": [2], "sortable": false }
                ]
            }
        );
    });
</script>