﻿
@{
    ViewData["Title"] = "EditEmp";
    Layout = "~/Pages/EditEmpLayout.cshtml";
}


@model TrialProject.Models.ViewModel

<h2>Edit Profile</h2>
<style type="text/css">
    body {
        background-color: lightgoldenrodyellow
    }
</style>

<link href="~/css/StyleSheet.css" rel="stylesheet" />

<div class="main">
    <h2>Edit EmpLoyee</h2>

    <form class="form-horizontal" asp-action="EditEmp" asp-controller="Admin" method="post" id="EditEmp">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.ImagePath)

        <div class="form-group">
            <label class="control-label col-md-2">First Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpFirstName, new { htmlAttributes = new { @class = "form-control" } })
                <font color="red">@ViewBag.FirstNameError</font>
                @Html.ValidationMessageFor(model => model.EmpFirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Middle Name<br /><font size="1" color="red">(Optional)</font></label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpMidName, new { htmlAttributes = new { @class = "form-control" } })
                <font color="red">@ViewBag.MidNameError</font>
                @Html.ValidationMessageFor(model => model.EmpMidName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Last Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmpLastName, new { htmlAttributes = new { @class = "form-control" } })
                <font color="red">@ViewBag.LastNameError</font>
                @Html.ValidationMessageFor(model => model.EmpLastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Salary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Gender" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="Gender" class="form-control">
                    <option selected>--------</option>
                    <option>Female</option>
                    <option>Male</option>
                    <option>Other</option>
                </select>
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Experience, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Experience, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Experience, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Date of Birth</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
                <font color="red">@ViewBag.InvalidDate</font>
                @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label asp-for="DeptName" class="control-label col-md-2">Department</label>
            <div class="col-md-10">
                <select asp-for="DeptName" asp-items="@(new SelectList(@ViewBag.listofDepartments, "DeptName", "DeptName"))" class="form-control"></select>
                @Html.ValidationMessageFor(model => model.DeptName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            <button class="btn btn-primary" type="submit" id="btnEditEmp" name="btnEditEmp">Save Changes</button>
        </div>
    </form>

</div>



