﻿
@{
    ViewData["Title"] = "EditDept";
    Layout = "~/Pages/EditDept.cshtml";
}

<style type="text/css">
    body {
        background-color: lightgoldenrodyellow
    }
</style>

<link href="~/css/StyleSheet.css" />

@model TrialProject.Models.Department

<div class="main">
    <h2>Edit Department</h2>

    <form class="form-horizontal" asp-action="EditDept" asp-controller="Admin" method="post" id="EditDept">
        @Html.HiddenFor(model => model.DeptId)

        <div class="form-group">
            <label class="control-label col-md-2">New Department Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeptName, new { htmlAttributes = new { @class = "form-control" } })
                <font color="red">@ViewBag.Exists</font>
                @Html.ValidationMessageFor(model => model.DeptName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            <button class="btn btn-primary" type="submit" id="btnEditDept" name="btnEditDept">Save Changes</button>
        </div>
    </form>
</div>
