﻿@model TrialProject.Models.ViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Emp.cshtml";
}

<h2>Details</h2>
<style type="text/css">
    body {
        background-color: #5ecb8c
    }
</style>
 
<div>
    <h4>Your Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <font size="4">Name</font>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmpFirstName)
            @Html.DisplayFor(model => model.EmpMidName)
            @Html.DisplayFor(model => model.EmpLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Experience)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt>
            Date of Birth
        </dt>
        <dd>
            @Model.DOB.ToString(" dd MMMM yyyy")

            @*@Html.DisplayFor(model => model.DOB.Value.ToString("dd/mm/yyyy"))*@
        </dd>
        <dt>
            Department
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeptName)

        </dd>
        <dt>
            @Html.ActionLink("Edit", "Edit", "Profile", new { id = Model.UserId })

        </dt>
    </dl>
</div>
<font color="red">@ViewBag.EmptyName</font>

<!--@Html.ActionLink("Log out","Index","Login")-->