﻿
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Emp.cshtml";
}

@model TrialProject.Models.ViewModel

<h2>Edit Profile</h2>
<style type="text/css">
    body {
        background-color: #5ecb8c
    }
</style>

<form class="form-horizontal" asp-action="Edit" asp-controller="Profile" method="post" id="Edit" enctype="multipart/form-data">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.DeptName)
    @Html.HiddenFor(model => model.Salary)
    @Html.HiddenFor(model => model.ImagePath)


    <div class="form-group">
        <label class="control-label col-md-2">First Name</label>
        <div class="col-md-5">
            @Html.EditorFor(model => model.EmpFirstName, new { htmlAttributes = new { @class = "form-control" } })
            <font color="red">@ViewBag.FirstNameError</font>
            @Html.ValidationMessageFor(model => model.EmpFirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Middle Name<br /><font size="1" color="red">(Optional)</font></label>
        <div class="col-md-5">
            @Html.EditorFor(model => model.EmpMidName, new { htmlAttributes = new { @class = "form-control" } })
            <font color="red">@ViewBag.MidNameError</font>
            @Html.ValidationMessageFor(model => model.EmpMidName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Last Name</label>
        <div class="col-md-5">
            @Html.EditorFor(model => model.EmpLastName, new { htmlAttributes = new { @class = "form-control" } })
            <font color="red">@ViewBag.LastNameError</font>
            @Html.ValidationMessageFor(model => model.EmpLastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Gender" class="control-label col-md-2"></label>
        <div class="col-md-5">
            <select asp-for="Gender" class="form-control">
                <option selected>--------</option>
                <option>Female</option>
                <option>Male</option>
                <option>Other</option>
            </select>
            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Date of Birth</label>
        <div class="col-md-5">
            @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "datepicker" } })
            <font color="red">@ViewBag.InvalidDate</font>
            @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
        </div>
    </div>

    <div>
        <label class="control-label col-md-2"></label>
        <input type="file" name="pic" accept="images" /><br />
        <label class="control-label col-md-2"></label>
        <img width="100" height="100" src="@ViewData["fileLocation"]" />
    </div><br />

    <div>
        <label class="control-label col-md-2"></label>
        <button class="btn btn-primary" type="submit" id="btnEdit" name="btnEdit">Save Changes</button>
    </div>

</form>
<div>
    <label class="control-label col-md-2"></label>
    @Html.ActionLink("Back", "Details", "Profile", new { id = Model.UserId })
</div>