﻿@model TrialProject.Models.ViewModel
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">*@

    <title>@ViewBag.Title</title>

    <environment include="Development">
        <link href="~/css/StyleSheet.css" rel="stylesheet" />

    </environment>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
</head>
<body>




    <div class="sidenav ">
        <img width="50" height="50" src="@ViewData["fileLocation"]" />
        @Html.ActionLink("Home", "AdminAccess", "Admin")

        @Html.ActionLink("Edit", "Edit", "Admin")

        @Html.ActionLink("Check Employee Database", "Data", "Admin")

        @Html.ActionLink("Check Departments", "DeptData", "Admin")

        <a href="@Url.Action("Index","Login")" class="navbar-brand">Logout</a>



        <!--<a asp-area="" asp-controller="Admin" asp-action="AdminAccess" class="navbar-brand">home</a>-->

    </div>



    <script>

        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>


    <div>
        @RenderBody()
    </div>
</body>
</html>
