﻿@model TrialProject.Models.ViewModel
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrialProject</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <link href="~/css/MyCustomStyleSheet.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>

    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top glyphicon-menu-hamburger">
        <div class="container">

            <h3>@ViewBag.name</h3>

            <font color="green">
                <ul class="nav navbar-nav navbar-right">

                    <li><div> <img width="50" height="50" src="@ViewData["fileLocation"]" /></div></li>
                    <li><div>&nbsp;&nbsp; </div></li>
                    <li><p style=" font-size:x-large">@Html.DisplayFor(model => Model.EmpFirstName)</p></li>
                    <li></li>
                    <li><p style=" font-size:x-large">@Html.DisplayFor(model => Model.EmpMidName)</p></li>
                    <li></li>
                    <li><p style=" opacity:.9;font-size:x-large">@Html.DisplayFor(model => Model.EmpLastName)</p></li>
                </ul>
            </font>
            
            <div class="navbar-header navbar-collapse ">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a  href="@Url.Action("Index","Login")" class="navbar-brand">Logout</a>

            </div>

        </div>
    </nav>



    <div>

    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>