﻿
@{
    ViewData["Title"] = "Forgotpassword";
}

<h2>Forgotpassword</h2>
@model TrialProject.Models.Employee
<style type="text/css">
    body {
        background-color: lightyellow
    }
</style>

<form class="form-horizontal" align="centre" asp-action="Forgotpassword" asp-controller="Login" method="post" id="Search" role="form">

    <div class="form-horizontal">

        <div class="form-group">
            <label asp-for="UserId" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="UserId" class="form-control" type="text" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Email" class="form-control" type="text" />
                <span asp-validation-for="Email" class="text-danger"></span>
                <font color="red">@ViewBag.Mismatch</font>
            </div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit" id="btnSearch" name="btnSearch">Submit</button>
</form>


