﻿@{
    ViewData["Title"] = "Index";
    ViewBag.message = "Login page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h2>@ViewData["message"]</h2>

@model TrialProject.ViewModels.LoginModel
<style type="text/css">
    body {
        background-color: peachpuff
    }
</style>

<form class="form-horizontal" align="centre" asp-action="Details" asp-controller="Login" method="post" id="Search" role="form">

    <div class="form-horizontal">

        <div class="form-group">
            <label asp-for="IdOrEmail" s class="col-md-2 control-label">User ID or E-mail</label>
            <div class="col-md-4">
                <input asp-for="IdOrEmail" class="form-control" />
                <span asp-validation-for="IdOrEmail" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Password" class="col-md-2 control-label">Password</label>
            <div class="col-md-4">
                <input type="password" asp-for="Password" class="form-control" />
                <font color="red">@ViewBag.error</font>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit" id="btnSearch" name="btnSearch">Login</button>
</form>
@Html.ActionLink("Forgot password", "Forgotpassword", "Login")
<br />
@Html.ActionLink("Sign up", "Create", "Register")
