﻿
@{
    ViewData["Title"] = "Repassword";
}

<h2>Change Password</h2>

@model TrialProject.Models.ConfirmPassword
<style type="text/css">
    body {
        background-color: lightyellow
    }
</style>

<form class="form-horizontal" align="centre" asp-action="Repassword" asp-controller="Login" method="post" id="Search" role="form">
    @Html.HiddenFor(model => model.UserId)
    <div class="form-horizontal">
        
        
        <div class="form-group">
            <label asp-for="Password" s class="col-md-2 control-label">Enter New Password</label>
            <div class="col-md-4">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ConPass" class="col-md-2 control-label">Confirm Password</label>
            <div class="col-md-4">
                <input type="password" asp-for="ConPass" class="form-control" />
                <span asp-validation-for="ConPass" class="text-danger"></span>
            </div>
        </div>
    </div>

    <button class="btn btn-primary" type="submit" id="btnConPass" name="btnConPass">Save Changes</button>
</form>