﻿
@{
    ViewData["Title"] = "Create";
}

@model TrialProject.Models.Registration

<h2>New Registration</h2>

<h2>@ViewData["Title"]</h2>
<br />
<br />

<form asp-controller="Register" asp-action="Create" method="post" class="form-horizontal" role="form">
    <style type="text/css">
        body {
            background-color: lightblue
        }
    </style>
    <div class="form-horizontal">
        @*<div asp-validation-summary="All" class="text-danger"></div>*@
        <div class="form-group">
            <label asp-for="UserName" class="col-md-2 control-label"></label> 
            <div class="col-md-5">
                <input asp-for="UserName" class="form-control" />
                <font color="red">@ViewBag.ErrorUserName</font>
                <span asp-validation-for="UserName" class="text-danger"></span>



            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Email" class="form-control" />
                <font color="red">@ViewBag.ErrorEmail</font>
                <span asp-validation-for="Email" class="text-danger"></span>

            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ConPass" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="ConPass" class="form-control" />
                <span asp-validation-for="ConPass" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="reset" value="Clear" class="btn btn-default" />
            </div>
        </div>

    </div>

    @Html.ActionLink("Go Back", "Index", "Login")
</form>
