﻿
@{
    ViewData["Title"] = "Success";
}

@model TrialProject.Models.Employee
<h6>Success</h6>
<style type="text/css">
    body {
        background-color: lightgreen
    }
</style>

<font size="5">
    <div class="col-lg-2">Your User ID is @Html.DisplayFor(modelItem => modelItem.UserId)</div>
</font>

@Html.ActionLink("Go to Login Page","Index","Login")

